{% extends "layout/public/base.html" %} {% block title %} Inicio {% endblock %} {% load
static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="container mt-3">
	<section
		class="section min-vh-100 d-flex flex-column align-items-center justify-content-center px-4"
	>
		<h2>Implementar la vista de contactos</h2>
		
	</section>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
