{% extends "layout/app/base.html" %} {% block title %} Proyectos {% endblock %} {% load
    static %}

{% block content %}

<style>
    .contenedor {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        height: 90vh; /* Establece la altura del contenedor al 100% del viewport height */
    }

    .card {
            min-width: 400px; /* Ancho mínimo de la card */
            min-height: 300px; /* Altura mínima de la card */
            /* Otros estilos de tu card */
        }
    h2 {
            text-align: center;
        }
</style>
<h2 >Crear nuevo Cronograma</h2>
<div class="contenedor">
    <div class="card">
        <div class="card-body">
            <form action="registrarCronograma/" method="POST">{% csrf_token %}
                <h6 >Descripción</h6>
                <div class="form-group">
                    <input type="text" id="desNP" name="desNP" class="form-control" placeholder="Descripción" minlength="1" maxlength="50" required>
                </div>
                <h6 >Hora de inicio</h6>
                <div class="form-group">
                    <input type="time" id="hiNP" name="hiNP" class="form-control" placeholder="Hora de inicio" minlength="1" maxlength="50" required>
                </div>
                <h6>Hora de finalizacion</h6>
                <div class="form-group">	
                    <input type="time" id="hfNP" name="hfNP" class="form-control" placeholder="Hora de finalizacion" >
                </div>
                <h6>Frecuencia</h6>
                <div class="form-group">	
                    <input type="time" id="frNP" name="frNP" class="form-control" placeholder="Frecuencia" >
                </div>
                <h6>Periodicidad</h6>
                <div class="form-group">	
                    <input type="time" id="perNP" name="perNP" class="form-control" placeholder="Periodicidad" >
                </div>
                <h6>Network</h6>
                <div>
                <select id="nwnt" name="nwnt">
                    {% for i in networks %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
                </div>
                <input type="hidden" id="prNP" name="prNP" class="form-control" value="{{usid}}" >
            
                <input type="hidden" name="idss" value="{{usid}}">
                <div class="form-group" style="padding-top: 20px" >
                    <button type="submit" class="btn btn-success btn-black text-white"> Crear </button>
                </div>	
            </form>
        </div>
    </div>
</div>



{% endblock content %}