{% extends "layout/app/base.html" %} {% block title %} Proyectos {% endblock %} {% load
    static %}

{% block content %}
<style>
    .tabla-container {
        margin: 0 auto; /* Centrar horizontalmente */
        width: 100%; /* Ancho deseado */
    }
    table {
        width: auto; /* Ajuste automático al contenido */
        table-layout: auto; /* Ajuste automático al contenido */
    }

    th, td {
        padding: 8px; /* Añadir espacio interno */
        text-align: center; /* Alinear texto a la izquierda */
    }
</style>

<!--Boostrap  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<!--DataTables  -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.bootstrap5.css">


<div>
    <a href="/project/creacionNet" class="btn btn-info">Agregar Network</a>
</div>
<div class="tabla-container">
        <div class="table-responsive">
            <table  id="Schudele" class="table table-striped" >                      
                <thead>

                    

                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Usuario</th>
                        <th>Contraseña</th>
                        <th>Token</th>
                        <th>Estado</th>
                        <th>Metodo</th>
                        <th > Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in accounts %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.user}}</td>
                        <td>{{i.password}}</td>
                        <td>{{i.token}}</td>
                        <td>
                            {% if i.state %}
                                <i class="fas fa-check-circle" style="color: green;"></i>
                            {% else %}
                                <i class="fas fa-times-circle" style="color: red;"></i>
                            {% endif %}
                        </td>
                        <td>{{i.method}}</a></td>
                        <td> <a href="edicionNet/{{i.id}}" class="btn"><i class="fa-solid fa-pen-to-square"></i></i></i></a> </td>
                        <td> <a href="eliminacionNet/{{i.id}}" class="btn btnEliminacion"><i class="fa-solid fa-trash-can" style="color: #da1b1b;"></i></a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

</div>

<input type="hidden" name="idNP" value="{{ proyecto.id }}">


{% load static %} 
<script src="{% static 'assets/js/script.js' %}"></script> 
<!--Boostrap  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<!--jQuery  -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<!--DataTables  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function() {
        $('#Schudele').DataTable({
            "columnDefs": [
                { "width": "80px", "targets": 3 },
                { "className": "centered", "targets": [0, 1,2,3,4,5,6] }, // Aplicar clase a las columnas 0 y 1
                { "orderable": false, "targets": [3,4,5,6,] },       // Hacer no ordenables las columnas 2 y 3
                { "searchable": false, "targets": [4, 5] },
                { "centered": true, "targets": [1, 4, 5] }       // Hacer no buscables las columnas 4 y 5
            ]
        });
        
    });
</script>


{% endblock content %} 